<div class=honeycomb-wrapper>
  <div class="column">
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(this.perimArr[0])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{this.perimArr[0]}}</p>
    </div>
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(this.perimArr[1])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{this.perimArr[1]}}</p>
    </div>
  </div>
  <div class="column">
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(this.perimArr[2])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{this.perimArr[2]}}</p>
    </div>
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(this.centerLetter)">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" class="centerHex"/>
      </svg>
      <p>{{this.centerLetter}}</p>
    </div>
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(this.perimArr[3])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{this.perimArr[3]}}</p>
    </div>
  </div>
  <div class="column">
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(this.perimArr[4])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{this.perimArr[4]}}</p>
    </div>
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(this.perimArr[5])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{this.perimArr[5]}}</p>
    </div>
  </div>
</div>
