<div class=honeycomb-wrapper>
  <div class="column">
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(allLettersService.perimLetters[0])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{allLettersService.perimLetters[0]}}</p>
    </div>
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(allLettersService.perimLetters[1])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{allLettersService.perimLetters[1]}}</p>
    </div>
  </div>
  <div class="column">
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(allLettersService.perimLetters[2])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{allLettersService.perimLetters[2]}}</p>
    </div>
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(allLettersService.centerLetter)">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" class="centerHex"/>
      </svg>
      <p>{{allLettersService.centerLetter}}</p>
    </div>
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(allLettersService.perimLetters[3])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{allLettersService.perimLetters[3]}}</p>
    </div>
  </div>
  <div class="column">
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(allLettersService.perimLetters[4])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{allLettersService.perimLetters[4]}}</p>
    </div>
    <div class="hex-wrapper">
      <svg height="130" width="140" viewport="0 0 140 140" (click)="selectLetterService.add(allLettersService.perimLetters[5])">
        <polygon points="0,65 35,0 105,0 140,65 105,130 35,130" />
      </svg>
      <p>{{allLettersService.perimLetters[5]}}</p>
    </div>
  </div>
</div>
